
*.cache
*.cache
*.cache
AdvApplicationDev/BlogApp/obj/Debug/net6.0/BlogApp.assets.cache
AdvApplicationDev/BlogApp/obj/Debug/net6.0/BlogApp.csproj.AssemblyReference.cache
AdvApplicationDev/BlogApp/obj/Debug/net6.0/project.razor.vscode.json
*.bin
*.sentinel
AdvApplicationDev/TestMVCProj/obj/staticwebassets.pack.sentinel
*.sentinel
*.db-shm
*.db-wal
*.dll
*.exe
*.pdb
*.json
