@model TestMVCProj.Models.LibraryBranch

<h2>Create Library Branch</h2>

<form asp-controller="LibraryBranch" asp-action="CreateLibraryBranch" method="post">
    <div class="form-group">
        <label asp-for="BranchName"></label>
        <textarea asp-for="BranchName" class="form-control"></textarea>
        <span asp-validation-for="BranchName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>