@model List<TestMVCProj.Models.LibraryBranch>

<h2>Library Branch</h2>
<a href="@Url.Action("Create", "LibraryBranch")" class="btn btn-primary">Create Library Branch</a>

<table class="table">
    <thead>
        <tr>
            <th>LibraryBranchId</th>
            <th>BranchName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.LibraryBranchId</td>
                <td>@branch.BranchName</td>
            </tr>
        }
    </tbody>
</table>