@model List<TestMVCProj.Models.Customer>

<h2>Customers</h2>
<a href="@Url.Action("Create", "Customer")" class="btn btn-primary">Create Customer</a>

<table class="table">
    <thead>
        <tr>
            <th>CustomerId</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>@cust.CustomerId</td>
                <td>@cust.Name</td>
            </tr>
        }
    </tbody>
</table>
