@{
    ViewBag.Title = "(500) An Error Occurred";
}
<h1>(500) An Error Occurred.</h1>
<p>Something went wrong. One of the Required field is null, please enter values to the required fields before submitting.</p>
<p>Please, Press back button to go to previous page or use the Navigation Tabs.</p>