@model List<TestMVCProj.ViewModels.BookViewModel>


<h2>BOOK</h2>
<a href="@Url.Action("CreateBook", "Book")" class="btn btn-primary">Create Book</a>

<table class="table">
    <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>AuthorId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.AuthorId</td>
            </tr>
        }
    </tbody>
</table>
