@model List<TestMVCProj.Models.LibraryBranch>

<h2>Library Branches</h2>
<a href="@Url.Action("Create", "LibraryBranch")" class="btn btn-primary" style="margin: 10px;">Create Library Branch</a>

<table class="table">
    <thead>
        <tr>
            <th>LibraryBranchId</th>
            <th>BranchName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libraryBranch in Model)
        {
            <tr>
                <td>@libraryBranch.LibraryBranchId</td>
                <td>@libraryBranch.BranchName</td>
            </tr>
        }
    </tbody>
</table>
